.container{
    display: flex;
    flex-direction: row;
    column-gap: 10px;
    align-self: center;

}
body{
    background-color: #374151;
}
h1{
    align-self: center;
}
.dados{
    color: bisque;
    padding-left: 5px;
    border-right-width: 0.5px ;
    align-items: start;
    border-right: solid;
    flex-wrap: wrap;
    width: 500px;
    justify-content: left; 
    font-size: 27px
    
}
.contrato{
    flex-wrap: wrap;
    justify-content:center;
    width:200px ;
    justify-content: left;
    flex-wrap: wrap;
    color: bisque;
    

}
.texto{
    color: bisque;
    flex-wrap: wrap;
    width: 400px;
    font-size: 27px
}